.select {
  height: 24px;
  padding: 0 8px;
  border-radius: 12px;
  text-align: left;
  font-size: 13px;
  border: none;
  margin: 0;
  color: var(--colors-action-text-on-base);
  fill: var(--colors-action-text-on-base);
  font-weight: var(--font-weights-bold);
}
