.button {
  cursor: pointer;
  height: 24px;
  line-height: 24px;
  background-color: var(--colors-action-base);
  border-radius: 12px;
  text-align: center;
  color: var(--colors-action-text-on-base);
  fill: var(--colors-action-text-on-base);
  font-weight: var(--font-weights-bold);
  font-size: 13px;
  padding: 0 12px;
  display: inline-block;
  vertical-align: top;
  border: none;
  margin: 0;
  &:hover {
    background-color: var(--colors-action-base-hover);
  }
  &:disabled {
    background-color: var(--colors-action-text-on-base_disabled);
  }
  &.active {
    background-color: var(--colors-action-primary-azure);
    color: var(--colors-action-text-on-primary-azure);
  }
}
.colorButton {
  width: auto;
  height: 24px;
  padding: 4px 8px;
  border-radius: 12px;
  text-align: center;
  font-size: 13px;
  border: 2px solid rgb(153, 153, 153);
  cursor: pointer;
  margin: 2px 0;
  &:hover {
    border: 2px solid #006699;
  }
  &.active {
    border: 2px solid #007cff;
  }
}
