.table {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 0;
    column-gap: min(20px, 1%);
    &.layer {
      height: 140px;
      width: 100%;
      flex-wrap: nowrap;
      .block {
        height: 100%;
        &.selector {
          width: min(50%, 500px);
        }
      }
    }
  }
}
