.layer {
  background: none;
  position: absolute;
  font-weight: 400;
  border: none;
  margin: 0;
  padding: 0;
  width: 660px;
  height: 420px;
  pointer-events: none;
  transform-origin: 0 0;
  font-size: 0;
  &.active {
    pointer-events: unset;
    outline: #ffff00 solid 0.2px;
    &.grid {
      & + .outline > div > div {
        outline: #ff00ff solid 0.2px;
      }
    }
  }
  &.invisible {
    opacity: 0;
    pointer-events: none;
  }
  &.mincho {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ角ゴシック",
      "Hiragino Sans", HiraginoSans, "Hiragino Kaku Gothic ProN",
      "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック",
      sans-serif;
  }
  &.gothic {
    font-family: 游ゴシック, SimHei, "ヒラギノ明朝 ProN W3", HiraMinProN-W3,
      "ヒラギノ明朝 ProN", HiraMinProN, "Hiragino Mincho ProN",
      "ヒラギノ角ゴシック", "Hiragino Sans", HiraginoSans, Arial,
      "ＭＳ Ｐゴシック", sans-serif;
  }
  .item {
    transform-origin: left;
  }
  &.showOnTop {
    z-index: 10;
  }
}
.textarea {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  overflow: visible;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  text-shadow: rgb(0 0 0 / 20%) 1px 1px 0, rgb(0 0 0 / 20%) -1px 1px 0px,
    rgb(0 0 0 / 20%) 1px -1px 0px, rgb(0 0 0 / 20%) -1px -1px 0px,
    rgb(0 0 0 / 20%) 1px 0px 0px, rgb(0 0 0 / 20%) -1px 0px 0px,
    rgb(0 0 0 / 20%) 0px 1px 0px, rgb(0 0 0 / 20%) 0px -1px 0px !important;
}
.textarea::-webkit-scrollbar {
  display: none;
}

.outline {
  position: absolute;
  pointer-events: none;
  transform-origin: 0 0;

  & > div {
    outline: #00ffff solid 0.1px;
    width: 100%;
  }
}
