.container {
  display: inline-block;
  position: relative;
  .icon {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background-color: var(--colors-layer-surface-high-em);
    border: solid 1px #ccc;
  }
  .tips {
    position: absolute;
    left: 50%;
    bottom: 100%;
    display: none;
    background-color: var(--colors-layer-surface-high-em);
    padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
    transform: translateX(-50%);
  }
  &:hover {
    .tips {
      display: block;
    }
  }
}
