.table {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    flex-direction: row;
    padding: 2px 0;
    flex-wrap: wrap;
    column-gap: min(20px, 1%);
    .group {
      display: flex;
      flex-direction: row;
    }
  }
}
