.wrapper {
  font-size: 13px;
  color: var(--colors-monotone--l95);
  text-align: left;
  background-color: var(--colors-monotone--l15);
  margin: 0;
  padding: 4px 5px;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 23px;
  line-height: 15px;
  font-weight: var(--font-weights-bold);
  &::before {
    content: "[ ＋ ]";
    display: inline-block;
    width: 30px;
    font-size: 11px;
    text-align: center;
  }
  &.open::before {
    content: "[ － ]";
  }
  .title {
    width: 150px;
  }
  .message {
    flex: 1;
  }
}
