.row {
  display: flex;
  flex-direction: row;
  height: 450px;
  .preview {
    position: relative;
    width: 700px;
    overflow: hidden;
    .layerWrapper {
      position: absolute;
      pointer-events: none;
      & > div:first-child > div {
        outline: #ff00ff solid 0.2px;
      }
    }
  }
  .tableWrapper {
    overflow-y: scroll;
    align-self: center;
    height: 100%;
    .table {
      border-collapse: collapse;
      th {
        text-align: center;
      }
      th,
      td {
        border: solid 1px var(--colors-action-text-on-base);
      }
    }
  }
}
